.bg {
    background-color: #fafafa;
}

.title {
    padding: 15px 0 15px 0;
}

h3 {
    position: relative;
    // font-family: "Raleway", sans-serif;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h3 em {
    font-style: normal;
    font-weight: 600;
}

.title h3 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 330px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
}
.title h3:before,
.title h3:after {
    background-color: #c50000;
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    bottom: 12px;
}

.title h3:before {
    left: -20px;
}

.title h3:after {
    right: -20px;
}