<template>
  <v-menu
    ref="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="time" :label="time_label" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <v-text-field v-model="dateRangeText" :label="date_label" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
      </v-col>
    </template>
    
    <v-layout col>
      <v-flex md20>
        <v-date-picker v-model="date" scrollable></v-date-picker>
      </v-flex>
      <v-flex md20>
        <v-time-picker v-model="time" format="24hr" scrollable></v-time-picker>
      </v-flex>
    </v-layout>

  </v-menu>
</template>

<script>
  export default {
    props: {
      state: String,
      fill_date: String,
    },

    data() { 
      return {
        date_label: `${this.state} Date`,
        time_label: `${this.state} Time`,
        date: this.fill_date.split(" ")[0],
        time: this.fill_date.split(" ")[1],
        menu: false,
      }
    },

    computed: {
      dateRangeText () {
        if(this.state=="Start") {
            var start_date = `${this.date} ${this.time}`;
            this.$emit('getStartDate', start_date);
            return this.date
        } else {
            var end_date = `${this.date} ${this.time}`;
            this.$emit('getEndDate', end_date);
            return this.date
        }
      },
    },
  }
</script>
