<template>
  <v-card class="mx-auto" width="1100" >
    <v-list class="overflow-y-auto">
        <v-list-group
          :value="true"
          no-action
          sub-group
          v-for="(title, i) in item['expend']"
          :key="i"
        >
          <template v-slot:activator>
                  <v-list-item-title>{{title}}</v-list-item-title>
          </template>

                <template v-if="is_whatsapp==true && title=='api_token'">
                  <v-list-item
                    v-for="(w_title, i) in whatsapp_token"
                    :key="i"
                  >
                      <v-list-item-title>{{w_title}}: {{item[w_title]}}</v-list-item-title>
                  </v-list-item>
                </template>

                <template v-else>
                  <v-list-item>
                      <v-list-item-title v-text="item[title]"></v-list-item-title>
                  </v-list-item>
                </template>

        </v-list-group>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    props: {
      item: Object,
      expend_item: Array,
    },
    data: () => ({
      is_whatsapp: false,
      whatsapp_token: ['api_url', 'api_token', 'chat_id']
    }),
    created() {
      this.item['expend'] = this.expend_item;

      if (this.item['platform'] == 'whatsapp') {
        this.is_whatsapp = true;
      }

      if (this.item['alarm_type'] != 'elb') {
        this.remove_item_in_array('command');
      } else {
        if (this.item['expend'].indexOf('command') === -1) {
          this.item['expend'].splice(0, 0, 'command');
        }
      }

      if (this.item['is_disable'] == false || this.item['is_disable'] == 'false') {
        this.remove_item_in_array('disable_start_time');
        this.remove_item_in_array('disable_end_time');
      } else {
        if (this.item['expend'].indexOf('disable_start_time') === -1) {
          this.item['expend'].splice(2, 0, 'disable_start_time');
          this.item['expend'].splice(3, 0, 'disable_end_time');
        }
      }

    },
    methods: {
        remove_item_in_array (name) {
            var index = this.item['expend'].indexOf(name);
            if (index !== -1) {
              this.item['expend'].splice(index, 1);
            }
        }
    }
  }
</script>