<template>
  <v-app class="bg">
    <div class="title">
      <h3>Notihub Information</h3>
    </div>
    
    <v-data-table
      :headers="headers"
      :items="items"
      sort-by="alarm_name"
      :single-expand="singleExpand"
      :expanded.sync="expanded"
      show-expand
      class="elevation-5"
    >
      <template v-slot:top>        
        <v-toolbar flat>
          <v-switch v-model="singleExpand" label="Single Expand" class="mt-2"></v-switch>

          <v-spacer></v-spacer>
          
          <!-- Dialog Card Block -->
          <v-dialog v-model="dialog" max-width="800px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on" :elevation="7"> New Item </v-btn>
            </template>

            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.account_id" label="Account ID *" :rules="rules.req" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.client_name" label="Client Name *" :rules="rules.req" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-select v-model="editedItem.region" :items="region_selector" label="Region *" :rules="rules.req" required></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="8">
                      <v-text-field v-model="editedItem.alarm_name" label="Alarm Name *" :rules="rules.req" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4"> 
                      <v-select v-model="editedItem.alarm_type" :items="alarm_type_selector" label="Alarm Type *" :rules="rules.req" required></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="12" v-if="checkType('alarm_type')">
                      <v-text-field v-model="editedItem.command" label="Command" :rules="rules.req" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="12">
                      <v-text-field v-model="editedItem.url" label="URL *" :rules="rules.req" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-select v-model="editedItem.platform" :items="platform_selector" label="Platform *" :rules="rules.req" required></v-select>
                    </v-col>
                    <v-col cols="12" sm="6" md="8">
                      <v-text-field v-model="editedItem.api_token" label="Api Token *" :rules="rules.req" required></v-text-field>
                    </v-col>
                    
                    <template v-if="checkType('platform')">
                      <v-col cols="12" sm="6" md="4"></v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field v-model="editedItem.api_url" label="Api Url *" :rules="rules.req" required></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4"></v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field v-model="editedItem.chat_id" label="Chat ID *" :rules="rules.req" required></v-text-field>
                      </v-col>
                    </template>

                    <v-col cols="12" sm="6" md="4">
                      <v-checkbox v-model="editedItem.is_disable" color="indigo" label="Has Disable Time?"></v-checkbox>
                    </v-col>

                    <template v-if="checkType('is_disable')">
                      <DateTimePicker :fill_date="editedItem['disable_start_time']" state="Start" v-on:getStartDate="getStartDate"/>
                      <v-col cols="12" sm="6" md="4"></v-col>
                      <DateTimePicker :fill_date="editedItem['disable_end_time']" state="End" v-on:getEndDate="getEndDate"/>
                    </template>

                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
                <v-btn color="blue darken-1" dark @click="save"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-toolbar>
      </template>
      
      <!-- Expand Block -->
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
            <NotihubExpend :item="item" :expend_item="expend_item"/>
        </td>
      </template>

      <!-- Update & Delete Icon -->
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editDialog(item)" color="primary"> mdi-pencil </v-icon>
        <v-icon small @click="deleteItem(item)" color="pink"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="loadItems"> Reset </v-btn>
      </template>

    </v-data-table>
  </v-app>
</template>

<style lang="scss" scoped src="../assets/scss/Table.scss"></style>

<script>
import axios from 'axios'
import DateTimePicker from '@/components/DateTimePicker'
import NotihubExpend from '@/components/NotihubExpend'

export default {
  components: {
    DateTimePicker,
    NotihubExpend,
  },

  data: () => ({
    api_domain: 'https://kym91eyz44.execute-api.us-west-2.amazonaws.com/',
    headers: [
      { text: '', value: 'data-table-expand', sortable: false },
      { text: 'Account ID', value: 'account_id' },
      { text: 'Client Name', value: 'client_name' },
      { text: 'Alarm Name', value: 'alarm_name' },
      { text: 'Alarm Type', value: 'alarm_type' },
      { text: 'Region', value: 'region' },
      { text: 'URL', value: 'url' },
      { text: 'Platform', value: 'platform' },
      { text: 'Is Disable', value: 'is_disable' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    expend_item: ['command', 'api_token', 'disable_start_time', 'disable_end_time'],
    region_selector: ["us-east-1", "us-east-2", "us-west-1", "us-west-2", "ca-central-1", "eu-north-1", "eu-south-1", "eu-west-1", "eu-west-2", "eu-west-3", "eu-central-1", "ap-northeast-1", "ap-northeast-2", "ap-northeast-3", "ap-southeast-1", "ap-southeast-2", "ap-east-1", "ap-south-1", "af-south-1", "sa-east-1", "sa-east-1"],
    alarm_type_selector: ["elb","ec2","rds"],
    platform_selector: ["slack","teams","whatsapp","skype"],
    rules: {
      req: [v => (v && v.length > 0) || 'This field is required']
    },
    items: [],
    dialog: false,
    editedIndex: -1,
    editedItem: {},
    defaultItem: { 
        "alarm_name": "", 
        "alarm_type": "", 
        "client_name": "", 
        "account_id": "", 
        "url": "", 
        "command": "", 
        "api_token": "", 
        "platform": "", 
        "disable_end_time": "", 
        "disable_start_time": "", 
        "region": "", 
        "is_disable": false, 
        "id": "", 
        "api_url": "", 
        "chat_id": "" 
      },
    expanded: [],
    singleExpand: false,
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  created () {
    this.loadItems();
  },

  methods: {
    // use props & emited to pass parameter to and get parameter from child component.
    getStartDate (start_date) {
      this.editedItem.disable_start_time = start_date;
    },
    getEndDate (end_date) {
      this.editedItem.disable_end_time = end_date;
    },

    // check input type, then disable some service and clear data.
    checkType (type) {
      if (type == 'alarm_type') {
        if (this.editedItem.alarm_type === `elb`)
            return true;
        else
          this.editedItem.command = '';
      }
      else if (type == 'platform') {
        if (this.editedItem.platform === `whatsapp`)
            return true;
        else {
          this.editedItem.api_url = '';
          this.editedItem.chat_id = '';
        }
      }
      else if (type == 'is_disable') {
        if (this.editedItem.is_disable === true) 
          return true;
        else {
          this.editedItem.is_disable = false;
          this.editedItem.disable_start_time = '';
          this.editedItem.disable_end_time = '';
        }
      }
    },
    
    // open the dialog card area
    editDialog (item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    splitWhatsappToken () {
      for (var [index, obj] of this.items.entries()) {
        if (obj['platform'] == 'whatsapp') {
          obj['api_url'] = obj['api_token']['api_url'];
          obj['chat_id'] = obj['api_token']['chat_id'];
          obj['api_token'] = obj['api_token']['api_token'];
          this.items[index] = obj;
        }
      }
    },

    // use axios to call api
    loadItems () {
      var get_all_item = {
          method: 'get',
          url: this.api_domain + 'notihub_get_all'
      };
      axios(get_all_item)
      .then((response) => {
          this.items = response.data;
          this.splitWhatsappToken();
      })
      .catch(function (error) {
          console.log(error);
      });
    },

    createItem (item) {
      var create_item = {
          method: 'post',
          url: this.api_domain + 'notihub_create',
          header: {
            "Content-Type": "application/json"
          },
          data: item
      };
      axios(create_item)
      .then((response) => {
          console.log(response);
          alert('create success');
      })
      .catch(function (error) {
          console.log(error);
          alert('create fail');
      });
    },

    editItem (item) {
      delete item['expend'];
      var edit_item = {
          method: 'post',
          url: this.api_domain + 'notihub_update',
          header: {
            "Content-Type": "application/json"
          },
          data: item
      };
      axios(edit_item)
      .then((response) => {
          console.log(response);
          alert('update success');
      })
      .catch(function (error) {
          console.log(error);
          alert('update fail');
      });
    },
    deleteItem (item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      
      var check = confirm("Do you want to delete this item?");
      if (check == false) {
          return;
      } 

      var delete_item = {
          method: 'post',
          url: this.api_domain + 'notihub_delete',
          data: item
      };
      axios(delete_item)
      .then((response) => {
          console.log(response);
      })
      .catch(function (error) {
          console.log(error);
      });
      
      this.items.splice(this.editedIndex, 1);
    },

    // card action
    close () {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      })
    },
    save () {
      if (this.editedIndex > -1) { // update item
        Object.assign(this.items[this.editedIndex], this.editedItem);
        this.editItem(this.editedItem);
      } else {                    // create new item
        this.items.push(this.editedItem);
        this.createItem(this.editedItem);
      }
      this.close();
    },
  },
}
</script>