<template>
  <v-card class="mx-auto" width="1100" >
    <v-list class="overflow-y-auto">
        <v-list-group
          :value="true"
          no-action
          sub-group
          v-for="(title, i) in expend_item"
          :key="i"
        >
          <template v-slot:activator>
              <v-list-item-title>{{title}}</v-list-item-title>
          </template>

          <v-container>
            <v-sheet
                class="mx-auto"
                width="900"
              >{{item[title]}}</v-sheet>
              <div></div>
          </v-container>

        </v-list-group>
    </v-list>
  </v-card>
</template>



<script>
  export default {
    props: {
      item: Object,
      expend_item: Array,
    },
  }
</script>