<template>
  <v-app class="bg">
      <div class="title bg">
        <h3>Prtg Log</h3>
      </div>
    
      <v-data-table
        :headers="headers"
        :items="items"
        sort-by="stage"
        :single-expand="singleExpand"
        show-expand
        item-key="account_id"
        class="elevation-5"
        :item-class="itemRowBackground"
      >

      <!-- Expand Block -->
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
            <PrtgExpend :item="item" :expend_item="expend_item"/>
        </td>
      </template>

      <!-- Delete Icon -->
      <template v-slot:item.actions="{ item }">
        <v-icon small @click="deleteItem(item)" color="pink"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="loadItems"> Reset </v-btn>
      </template>

    </v-data-table>
  </v-app>
</template>
<style lang="scss" scoped src="../assets/scss/Table.scss"></style>

<script>
import axios from 'axios'
import PrtgExpend from '@/components/PrtgExpend'

export default {
  components: {
    PrtgExpend,
  },

  data: () => ({
    api_domain: 'https://kym91eyz44.execute-api.us-west-2.amazonaws.com/',
    headers: [
      { text: '', value: 'data-table-expand', sortable: false },
      { text: 'Account ID', value: 'account_id' },
      { text: 'PRTG Subject', value: 'subject' },
      { text: 'Stage', value: 'stage' },
      { text: 'Time', value: 'time' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    expend_item: ['prtg_info'],
    items: [],
    editedIndex: -1,
    editedItem: {},
    singleExpand: true,
  }),

  created () {
    this.loadItems();
  },

  methods: {
    itemRowBackground (item) {
      if (item.stage == 'prtg') {
          return "amber lighten-5";
      }
    },
    // use axios to call api
    loadItems () {
      var get_all_item = {
          method: 'get',
          url: this.api_domain + 'prtg_get_all'
      };
      axios(get_all_item)
      .then((response) => {
          this.items = response.data;
      })
      .catch(function (error) {
          console.log(error);
      });
    },

    deleteItem (item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      
      var check = confirm("This Alarm has been resolved?");
      if (check == false) {
          return;
      } 

      var delete_item = {
          method: 'post',
          url: this.api_domain + 'prtg_delete',
          data: item
      };
      axios(delete_item)
      .then((response) => {
          console.log(response);
      })
      .catch(function (error) {
          console.log(error);
      });
      
      this.items.splice(this.editedIndex, 1);
    },
  }
}
</script>