<template>
  <v-app>
    <v-tabs
      fixed-tabs
      background-color="primary"
      dark
    >
      <v-tab>
        Notihub
      </v-tab>
      <v-tab-item>
        <NotihubTable/>
      </v-tab-item>

      <v-tab>
        PRTG
      </v-tab>
      <v-tab-item>
        <PrtgTable/>
      </v-tab-item>

    </v-tabs>
  </v-app>
</template>

<script>
import NotihubTable from './NotihubTable'
import PrtgTable from './PrtgTable'

export default {
  components: {
    NotihubTable,
    PrtgTable
  }
}
</script>